/*Estilo Footer*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

footer .contenedor{display: flex;flex-wrap: wrap;justify-content: center;padding-bottom: 25px;bottom: 0px;width: 100%;position: relative;clear: both;margin-top: 0px;padding-top: 0px;overflow: visible;}

.copy {font-size: 20px;}

.sociales {width: 100%;text-align: center;font-size: 28px;}

.sociales a{color:  #333;text-decoration: none;}

@media screen and (max-width: 320px) {footer .contenedor{justify-content: center;position: relative;}}
@media (min-width:320px){footer .contenedor{justify-content: center;position: relative;}}
@media (min-width: 480px) {footer .contenedor{justify-content: center;position: relative;}}
@media (min-width: 768px){.sociales{width: auto;}footer .contenedor{justify-content: center;position: relative;}}
@media (min-width: 1024px){footer .contenedor{justify-content: center;position: relative;}}
@media screen and (min-width: 1280px) {footer .contenedor{justify-content: center;position: absolute;}}
@media screen and (min-width: 1600px) {footer .contenedor{justify-content: center;position: absolute;}}

/*Estilo Resgistro agente*/

#blog button {align-items: center;margin:20px;}

button{align-items: center;}

#blog .container{display: flex;justify-content: center;flex-wrap: wrap;}

#blog div.div-img{margin: 25px;}

#blog img {width: 400px;height: 250px;}