<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AccidentesTransito.App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/estilo.css" />
</head>

<body>
    <header>
        @*\\\\\\\\\\\\\\\\\\\\\\ probando con HTML con Bootstrap ////////////////////*@
        <div class="container">
            <nav class="navbar navbar-expand-lg  navbar-dark navbar-full bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">Accidentes.App</img></a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link active dropdown-toggle" href="agente.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Agente</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Paginas_AT/Agente">Agente</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Paginas_AT/RegistroAccidente">Registro Accidentes</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Paginas_AT/HistoricoAccidente">Histórico Accidentes</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" asp-page="/Paginas_AT/Ciudadano">Ciudadano</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" asp-page="/Paginas_AT/Administrador">Administrador</a>
                            </li>
                        </ul>

                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-success" type="submit" asp-page="/Index">Buscar</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        @* \\\\\\\\\\\\\\\\\\\\\\ fin de prueba del html ////////////////////*@

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

     @* \\\\\\\\\\\\\\\\\\\\\\ footer base html ////////////////////*@
    <footer class="border-top footer text-muted">
        <div class="contenedor">
            &copy; 2021 - DevSolutions Team 🤓 - <a asp-area="" asp-page="/Privacy"></a>
            <div class="sociales">
                <a class="icon-facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="icon-twitter-circled" href="#"><i class="fab fa-facebook-messenger"></i></a>
                <a class="icon-instagram" href="#"><i class="fab fa-instagram"></i></a>
                <a class="icon-googleplus" href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
        </div>
    </footer>
    @* \\\\\\\\\\\\\\\\\\\\\\ fin footer base html ////////////////////*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
